:root{
    --cor-de-fundo:#d17e3a;
    --verde:#7c7a5a;
    --branco: #FFFFFF;
    --botao-ativo: #dda68d;
    --botao-inativo: #5862ac;
    --texto-de-fundo:#000d6e;
}


body{
    background-color: rgb(201, 144, 144);
    color: rgba(185, 22, 10, 0.815);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
}
.botão{
    background-color: #cfa27d;
    font-size: 25px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
}

.conteudo-principal{
    display: flex;
    justify-content: center;
    width: 10px;
    align-items: center;
    margin: 0 auto;
}
.imagens1{
    width: 15%;
    height: 250px;
}
.meta-organizar{
    display: inline;
}
.meta-organizar2{
    display: inline;
}
